/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "_colors.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Overpass');

html, body {
 background-color: $light;
 font-family: "Overpass";
 padding: 0px;
 margin: 0px;
 min-height: 100vh;
}

* {
  color: $dark;
}

h1,h2,h3,h4,h5,h6{font-family: "Montserrat";}
h1 {
  font-family: "Montserrat";
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  .pageheader {
    letter-spacing: 0.75em;
  }
}

.floater {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 0.2vw;
  height: 10vh;
  background: transparentize($dark, 0.9);
  box-shadow: transparentize($dark, 0.9) 0 0 20px;
  a {
    color: $light;
  }
}
