// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_colors.scss";



header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    position: relative;
    z-index: 3;
  }
  video#fs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
  }
  #cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../images/dots-overlay.png");
    background-size: 10%;
    background-repeat: repeat;
    background-color: rgba(250, 250, 250, 0.5);
    background-blend-mode: lighten;
    z-index: 2;
  }
}

a:hover {
  background-color: transparent !important;
}

.user {
  text-transform: uppercase;
  color: $light-2;
  font-family: "Overpass";
  font-size: 1.2em;
  font-weight: lighter;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 80vh;
  justify-content: space-around;
  align-items:center;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark;
  background: transparent;
  margin: 4.15vw;
  .post-slot {
    width: 25vw;
    height: 30vh;
    padding: 0px 0px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $dark;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid $color;
    border-radius: 3px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: all 0.2s;
    &:hover {
      width: 27vw;
      height: 32.4vh;
      margin: 0 -1vw;
    }
    &:hover + .timer {
      width: 27vw;
      margin: -1.2vh -1vw;
      bottom: 63px;
    }
    .contain {
      opacity: 0;
      transition: all 0.2s;
      padding: 10px;
      background-color: transparentize($light-2, 0.5);
      height: 100%;
      border-radius: 7px 7px 0px 0px;
      .body-disp {
        height: 17.5vh;
        overflow-y: hidden;
        z-index: 6;
      }
      .bgrad {
        transition: all 0.2s;
        height: 2.5vh;
        width: 100%;
        position: relative;
        bottom: 2.5vh;
        width: calc(25vw - 20px);
      }
    }
    &:hover .contain {
      opacity: 1;
    }
    h2.title {
      text-transform: uppercase;
    }
    .body-disp {
      h1,h2,h3,h4,h5,h6 {
        font-size: 12pt;
        font-weight: normal;
      }
    }
  }
  .timer {
    width: 25vw;
    height: 30px;
    background: linear-gradient(to top, transparentize($dark, 0.5), transparentize($dark, 1));
    position: relative;
    left: 0px;
    bottom: 73px;
    transition: all 0.2s;
    p {
      color: $light-2 !important;
      text-shadow: 0 0 5px $dark;
    }
  }
}

.article-title {
  text-align: center;
  letter-spacing: 0.5em;
  color: $dark;
}

hr {
  width: 5vw;
  height: 5px;
  border-radius: 5px;
  background-color: $color;
  border: none;
  margin-bottom: 1vh;
}

#img-ban {
  width: 100vw;
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  .grad-v {
    background-image: linear-gradient(transparentize($dark, 0.5), transparentize($dark, 1) 25%, transparentize($dark, 1) 75%, transparentize($dark, 0.5));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      color: $light-2;
    }
  }
}

.body {
  font-size: 1.4em;
  width: 80vw;
  margin: 10vh auto;
}

#toppager {
  background-image: image-url("type.png");
}
