// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_colors.scss";

#wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 80vh;
  justify-content: space-around;
  align-items:center;
}

a {
  text-decoration: none;
  color: $dark;
  &:hover {
    background-color: none;
    color: none;
  }
  .post-slot {
    width: 25vw;
    height: 30vh;
    padding: 0px 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 10px solid $color;
    border-radius: 3px;
    background-color: $light-2;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    h2.title {
      text-transform: uppercase;
    }
    .body-disp {
      h1,h2,h3,h4,h5,h6 {
        font-size: 12pt;
        font-weight: normal;
      }
    }
  }
}
